.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.cookiesShop {
  background-image: image("./image/cookieshop.png");
  height: 400px;
  border-radius: 40%;
}
.border {
  border: 1px solid black;
  width: 330px;
  border-radius: 12px;
}
.flexThis {
  display: flex;
  gap: 70px;
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 60%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* .image1 {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  height: 10%;
} */
